body {
  background: rgb(0, 0, 0);
}

h1{
    color:white;
}

#space, .stars {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*positioning, check if nessesary*/
  overflow: hidden;
  position: absolute;

}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0)),
    radial-gradient(1px 1px at 190px 150px, #fff, rgba(0,0,0,0));
    /* radial-gradient(2px 2px at 220px 180px, #ddd, rgba(0,0,0,0)), */
    /* radial-gradient(1px 1px at 250px 220px, #fff, rgba(0,0,0,0)), */
    /* radial-gradient(2px 2px at 290px 260px, #ddd, rgba(0,0,0,0)), */
    /* radial-gradient(1px 1px at 320px 280px, #fff, rgba(0,0,0,0)), */
    /* radial-gradient(1px 1px at 360px 310px, #ddd, rgba(0,0,0,0)), */
    /* radial-gradient(1px 1px at 390px 350px, #fff, rgba(0,0,0,0)),; */
  background-size: 200px 200px; /*expanded, hope to make it more random */
  background-repeat: repeat;
}